 <web-app>
    <context-param>
    	<param-name>emailid</param-name>
        <param-value>sumit@gmail.com</param-value>
    </context-param>
    <context-param>
		<param-name>phoneno</param-name>
        <param-value>62043-869743</param-value>
     </context-param>
	  
	  
 <servlet>
     <servlet-class>ServletOne</servlet-class>
     <servlet-name>ServletOne</servlet-name>    
</servlet>

<servlet-mapping>
      <servlet-name>ServletOne</servlet-name>
      <url-pattern>/ServletOne</url-pattern>
</servlet-mapping>

<servlet>
     <servlet-class>ServletTwo</servlet-class>
     <servlet-name>ServletTwo</servlet-name>
</servlet>	 

<servlet-mapping>
      <servlet-name>ServletTwo</servlet-name>
      <url-pattern>/ServletTwo</url-pattern>
</servlet-mapping>

</web-app>